footer {
  width: 100%;
  min-height: $anchor-height;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $small-size;
  padding: 5px;
}