header {
  width: 100%;
  min-height: $anchor-height;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .title {
    font-size: $large-size;
  }
}