header {
  height: $anchor-height;
  min-height: $anchor-height;
  font-size: $large-size;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  text-align: center;

  a,
  img {
    height: 100%;
  }
}