/* Size */
$mini-size: 0.5rem;
$small-size: 0.8rem;
$normal-size: 1rem;
$middle-size: 1.5rem;
$large-size: 2rem;
$big-size: 2.5rem;

$anchor-height: 64px;
$avatar-size: 48px;

$thin-weight: 400;
$normal-weight: 500;
$bold-weight: 600;

/* Color */
$main-color: #8192c8;
$secondary-color: #fcc08a;
$note-color: #c1c5c9;
$font-color: #3C3C3C;
$alert-color: #bf565b;
$disable-color: #eee;
$enable-color: #fffaf5;
$border-color: #ddd;
$mask-color: rgba(255,255,255,0.65);

@mixin default-font-family() {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}

@mixin default-font() {
  font-size: $normal-size;
}

@mixin icon-button() {
  width: 36px;
  height: 36px;
  padding: 0;

  svg {
    font-size: $large-size;
  }
}

@mixin large-button() {
  width: 48px;
  height: 48px;
  padding: 0;

  svg {
    font-size: $large-size;
  }
}

@mixin big-button() {
  width: 64px;
  height: 64px;
  padding: 0;

  svg {
    font-size: $big-size;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.search-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;

  .search-field input {
    margin-left: 32px;
  }

  .search-btn {
    @include icon-button();
    margin-right: -42px;
  }

  .close-btn {
    @include large-button();
    display: flex;
    flex-direction: column;

    svg {
      font-size: $middle-size;
    }

    span {
      color: $note-color;
      font-size: $mini-size;
    }
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
}

.big-btn {
  @include big-button();
  padding: 5px;
}

.edit-dialog {
  .desc {
    padding: 0 24px;
  }
}

.monster-card {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .avatar {
    width: 80px;
    height: 80px;
    position: relative;
    background: $disable-color center 0px no-repeat;
    border: 3px solid $border-color;
    border-radius: 10px;
    box-shadow: inset 0 0 0 3px $mask-color;
    opacity: 0.5;

    .time {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      background-color: $mask-color;
      border-radius: 0 0 8px 8px;
    }
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: $small-size;
    color: $font-color;

    & > * {
      text-align: center;
    }

    .note, .location {
      color: $note-color;
    }
  }

  &.timer {
    .avatar {
      border: 3px solid $secondary-color;
      background-color: $secondary-color;
      opacity: 1;

      .time {
        color: $font-color;
        font-weight: $bold-weight;
        text-shadow: #fff 0 2px, #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff -1.4px -1.4px, #fff 1.4px 1.4px, #fff 1.4px -1.4px, #fff -1.4px 1.4px;
      }

      .appeared {
        color: $alert-color;
      }
    }

    .info {
      .note, .location {
        color: $font-color;
      }
    }
  }
}

.timer-card, .check-card {
  display: flex;
  align-items: center;
  border: 1px solid $note-color;
  border-radius: 5px;
  box-shadow: 2px 2px 1px $note-color;
  padding: 5px;
  width: 300px;

  &.timer {
    border: 3px solid $secondary-color;
    padding: 3px;
  }

  & > .avatar {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      &:first-child {
        display: flex;
        justify-content: center;
        padding: 5px;
        width: $avatar-size;
        height: $avatar-size;
      }

      &:last-child {
        padding: 0;

        & > * {
          padding: 0 0 5px 5px;
        }
      }
    }
    
    img {
      width: auto;
      height: 100%;
      font-size: $small-size;
      color: $note-color;
      text-align: center;
    }

    .desc, .note {
      display: flex;
      align-items: center;
      font-size: $small-size;
      justify-content: center;

      & > * {
        padding-right: 5px;
      }
    }
  }

  & > .info {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    & > * {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px 5px 0;
      
      & > *:not(button) {
        padding: 0 5px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: $bold-weight;
      height: 48px;
      padding-top: 5px;
    }

    .time {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px dotted $font-color;
      -webkit-border-radius: 5px 20px;
      border-radius: 5px 20px;
      margin: 5px;
        
      .appeared {
        color: $alert-color;
      }

      .play button {
        @include icon-button();
        margin: 0 10px;
      }
    }
  }
  
  .timer {
    color: $secondary-color;
    font-weight: $bold-weight;
  }

  .desc {
    font-size: $small-size;
  }
  
  .note, .location {
    font-size: $small-size;
    color: $note-color;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}