/* Size */
$mini-size: 0.5rem;
$small-size: 0.8rem;
$normal-size: 1rem;
$middle-size: 1.5rem;
$large-size: 2rem;
$big-size: 2.5rem;

$anchor-height: 64px;
$avatar-size: 48px;

$thin-weight: 400;
$normal-weight: 500;
$bold-weight: 600;

/* Color */
$main-color: #8192c8;
$secondary-color: #fcc08a;
$note-color: #c1c5c9;
$font-color: #666;
$alert-color: #bf565b;

@mixin default-font-family() {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}

@mixin default-font() {
  font-size: $normal-size;
}

@mixin icon-button() {
  width: 36px;
  height: 36px;
  padding: 0;

  svg {
    font-size: $large-size;
  }
}

@mixin large-button() {
  width: 48px;
  height: 48px;
  padding: 0;

  svg {
    font-size: $large-size;
  }
}

@mixin big-button() {
  width: 64px;
  height: 64px;
  padding: 0;

  svg {
    font-size: $big-size;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.search-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;

  .search-field input {
    margin-left: 32px;
  }

  .search-btn {
    @include icon-button();
    margin-right: -42px;
  }

  .close-btn {
    @include large-button();
    display: flex;
    flex-direction: column;

    svg {
      font-size: $middle-size;
    }

    span {
      color: $note-color;
      font-size: $mini-size;
    }
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
}

.big-btn {
  @include big-button();
  padding: 5px;
}

.timer-card, .check-card {
  display: flex;
  align-items: center;
  border: 1px solid $note-color;
  border-radius: 5px;
  box-shadow: 2px 2px 1px $note-color;
  padding: 5px;

  &.timer {
    border: 3px solid $secondary-color;
    padding: 3px;
  }

  & > .avatar {
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {

      &:first-child {
        display: flex;
        justify-content: center;
        padding: 5px;
        width: $avatar-size;
        height: $avatar-size;
      }

      &:last-child {
        padding: 0;

        & > * {
          padding: 0 0 5px 5px;
        }
      }
    }
    
    img {
      width: auto;
      height: 100%;
      font-size: $small-size;
      color: $note-color;
    }

    .desc, .note {
      display: flex;
      align-items: center;
      font-size: $small-size;

      & > * {
        padding-right: 5px;
      }
    }
  }

  & > .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > * {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      
      & > *:first-child {
        padding-left: 0;
      }

      & > span:last-child {
        padding-right: 0;
      }
    }

    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: $bold-weight;
    }

    .time {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px dotted #666;
      -webkit-border-radius: 5px 20px;
      border-radius: 5px 20px;
      margin: 5px;
        
      .appeared {
        color: $alert-color;
      }

      .play button {
        @include icon-button();
        margin: 0 5px;
      }
    }
  }
  
  .timer {
    color: $secondary-color;
    font-weight: $bold-weight;
  }

  .desc {
    font-size: $small-size;
  }
  
  .note, .location {
    font-size: $small-size;
    color: $note-color;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}