/* Size */
$small-size: 0.8rem;
$normal-size: 1rem;
$middle-size: 1.2rem;
$large-size: 1.5rem;
$timer-icon-size: 0.8rem;

$anchor-height: 64px;
$avatar-size: 48px;

$thin-weight: 400;
$normal-weight: 500;
$bold-weight: 600;

/* Color */
$main-color: #8192c8;
$secondary-color: #fcc08a;
$note-color: #c1c5c9;
$font-color: #666;

@mixin default-font-family() {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}

@mixin default-font() {
  font-size: $normal-size;
}

@mixin icon-button() {
  width: 36px;
  height: 36px;
  padding: 0;

  svg {
    font-size: $large-size;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.search-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;

  .search-field input {
    margin-right: 32px;
  }

  .search-btn {
    @include icon-button();
    margin-left: -42px;
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

    & > * {
      margin: 5px;
    }
  }
}

.monster-card {
  display: flex;
  align-items: center;
  padding: 2px;
  border: 1px solid $note-color;
  border-radius: 5px;
  box-shadow: 2px 2px 1px $note-color;

  &.timer {
    border: 3px solid $main-color;
    padding: 0;
  }

  & > .avatar {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    & > * {
      flex: 1 0 auto;

      &:first-child {
        display: flex;
        justify-content: center;
        padding: 5px;
        width: $avatar-size;
        height: $avatar-size;
      }

      &:last-child {
        padding: 3px;
      }
    }
    
    img {
      width: auto;
      height: 100%;
      font-size: $small-size;
      color: $note-color;
    }

    .level, .status {
      display: flex;
      align-items: center;

      & > * {
        flex: 1 0 auto;
        padding: 2px;
      }
    }
    
    .level * {
      font-size: $normal-size;
    }
    
    .status * {
      font-size: $small-size;
      color: $note-color;
    }
  }

  & > .info {
    display: flex;
    flex-direction: column;

    & > * {
      padding: 5px;
    }

    .label {
      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: $bold-weight;
      }

      .location {
        font-size: $small-size;
        color: $note-color;
      }
    }

    .time {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px dotted #666;
      -webkit-border-radius: 5px 20px;
      border-radius: 5px 20px;
      margin: 0 5px 5px;

      .timer {
        color: $main-color;
        font-weight: $bold-weight;
      }

      .play button {
        @include icon-button();
        margin: 0 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}