/* Color */
$timer-color: #adb4d1;
$timer-bg-color: #c6f1fc;
$disable-color: rgba(221, 221, 221, 0.2);
$timer-shadow: inset 0 0 0 3px $mask-color;
$alert-color: #bf565b;
$alert-bg-color: #fcdbdc;
$appeared-color: #22c42a;
$appeared-bg-color: #bffbc1;
$time-text-shadow: #fff 0 2px,
  #fff 2px 0,
  #fff -2px 0,
  #fff 0 -2px,
  #fff -1.4px -1.4px,
  #fff 1.4px 1.4px,
  #fff 1.4px -1.4px,
  #fff -1.4px 1.4px;

@mixin timing-shadow($color) {
  box-shadow: $color 2px 2px 1px;
}

.big-btn {
  @include large-button();
}

.edit-dialog {
  .desc {
    padding: 0 24px;
  }
}

.monster-card {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .avatar {
    width: 80px;
    height: 80px;
    position: relative;
    background: $bg-color center 0px no-repeat;
    border: 3px solid $border-color;
    border-radius: 10px;
    box-shadow: $timer-shadow;
    opacity: 0.3;
    cursor: pointer;

    .time {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      background-color: $mask-color;
      border-radius: 0 0 7px 7px;
    }
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: $small-size;
    color: $font-color;

    & > * {
      text-align: center;
    }

    .note, .location {
      font-size: $tiny-size;
      color: $note-color;
    }
  }

  &.timer {
    .avatar {
      border: 3px solid $timer-color;
      background-color: $timer-bg-color;
      opacity: 1;
      @include timing-shadow($timer-color);

      .time {
        display: inline-table;
        color: $font-color;
        font-weight: $bold-weight;
        text-shadow: $time-text-shadow;
      }
    }

    .info {
      .note, .location {
        color: $font-color;
      }
    }
  }

  &.alert .avatar {
    border: 3px solid $alert-color;
    background-color: $alert-bg-color;
    @include timing-shadow($alert-color);

    animation: blink 1s infinite reverse;
    @keyframes blink {
      0% {
        border-color: $alert-bg-color;
      }
    }

    .time {
      color: $alert-color;
    }
  }
  
  &.appeared .avatar {
    border: 3px solid $appeared-color;
    background-color: $appeared-bg-color;
    @include timing-shadow($appeared-color);
  
    .time {
      color: $appeared-color;
    }
  }
}

.check-card {
  display: flex;
  align-items: center;
  border: 1px solid $note-color;
  border-radius: 5px;
  box-shadow: $card-shadow;
  padding: 5px;
  width: 300px;
  cursor: pointer;

  &.timer {
    background-color: $disable-color;
    cursor: initial;
    pointer-events: none;
  }

  & > .avatar {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      &:first-child {
        display: flex;
        justify-content: center;
        width: $avatar-size;
        height: $avatar-size;
        padding: 5px;
        margin: 5px 0;
      }

      &:last-child {
        padding: 0;

        & > * {
          padding: 0 0 5px 5px;
        }
      }
    }
    
    img {
      width: auto;
      font-size: $small-size;
      color: $note-color;
      text-align: center;
      align-self: center;
    }

    .desc, .note {
      display: flex;
      align-items: center;
      font-size: $small-size;
      justify-content: center;

      & > * {
        padding-right: 5px;
      }
    }
  }

  & > .info {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    & > * {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      padding: 0 5px 5px 0;
      
      & > *:not(button) {
        padding: 0 5px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: $bold-weight;
      height: $avatar-size;
      padding-top: 5px;
      margin: 5px 0;

      .check {
        color: $main-color;
      }
    }

    .time {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px dotted $font-color;
      -webkit-border-radius: 5px 20px;
      border-radius: 5px 20px;
      margin: 5px;
        
      .alert {
        color: $alert-color;
      }

      .appeared {
        color: $appeared-color;
      }

      .play button {
        @include icon-button();
        margin: 0 10px;
      }
    }
  }
  
  .timer {
    color: $timer-color;
    font-weight: $bold-weight;
  }

  .desc {
    font-size: $small-size;
  }
  
  .note, .location {
    font-size: $small-size;
    color: $note-color;
  }
}

.timer-container header {
  & > *:not(.title) {
    position: absolute;
    right: 0;
    margin-right: 5px;
  }
}

.timer-container footer {
  min-height: 100px;
  padding-bottom: 40px;

  .copyright {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
  }
}

.swipeable-rawer {
  height: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;

  * {
    pointer-events: initial;
  }

  & > .MuiPaper-root {
    max-height: initial;
    overflow: visible;
  }

  .puller {
    @include dark-style();
    height: 16px;
    text-align: center;
    visibility: visible;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .open-btn {
      @include dark-style();
      width: 140px;
      position: absolute;
      top: -24px;
      left: calc(50% - 70px);
      border-top-left-radius: 70%;
      border-top-right-radius: 70%;
      padding: 5px;
      cursor: pointer;
    }
  }

  .content {
    @include dark-style();
    height: 0;
    display: flex;
    overflow: auto;
    padding: 8px;
    
    .monster-card .info * {
      @include dark-style();
    }
  }

  &.show {
    height: initial;
    
    .content {
      height: initial;
    }
  }
}

@media (max-width: 410px) {
  .copyright * {
    font-size: $mini-size;
  }
}