/* Color */
$timer-color: #adb4d1;
$timer-bg-color: #c6f1fc;
$disable-color: rgba(221, 221, 221, 0.2);
$timer-shadow: inset 0 0 0 3px $mask-color;
$alert-color: #bf565b;
$alert-bg-color: #fcdbdc;
$appeared-color: #22c42a;
$appeared-bg-color: #bffbc1;
$time-text-shadow: #fff 0 2px,
  #fff 2px 0,
  #fff -2px 0,
  #fff 0 -2px,
  #fff -1.4px -1.4px,
  #fff 1.4px 1.4px,
  #fff 1.4px -1.4px,
  #fff -1.4px 1.4px;

@mixin timing-shadow($color) {
  box-shadow: $color 2px 2px 5px;
}

.big-btn {
  @include large-button();
}

.edit-dialog {
  .desc {
    padding: 0 24px;
  }
}

.tooltip-btn {
  position: absolute;
}

.monster-card {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  
  //Disable iOS long press menu and effect
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  .avatar {
    width: 80px;
    height: 80px;
    position: relative;
    background: $bg-color center 0px no-repeat;
    border: 3px solid $border-color;
    border-radius: 10px;
    box-shadow: $timer-shadow;
    opacity: 0.3;
    cursor: pointer;

    .time {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      background-color: $mask-color;
      border-radius: 0 0 7px 7px;
    }
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: $small-size;
    color: $font-color;

    & > * {
      text-align: center;
      padding: 1px 0;
    }

    .note, .location, .map-code {
      font-size: $tiny-size;
      color: $note-color;
    }
  }

  &.timer {
    .avatar {
      border: 3px outset $timer-color;
      background-color: $timer-bg-color;
      opacity: 1;
      @include timing-shadow($timer-color);

      .time {
        color: $font-color;
        font-weight: $bold-weight;
        text-shadow: $time-text-shadow;
      }
    }

    .info {
      .note, .location, .map-code {
        color: $font-color;
      }
    }
  }

  &.alert .avatar {
    background-color: $alert-bg-color;
    @include timing-shadow($alert-color);

    @keyframes blink {
      from {border-color: $alert-color;}
      to {border-color: $alert-bg-color;}
    }

    animation: blink 1s infinite;

    .time {
      color: $alert-color;
    }
  }
  
  &.appeared .avatar {
    border-color: $appeared-color;
    background-color: $appeared-bg-color;
    @include timing-shadow($appeared-color);
  
    .time {
      color: $appeared-color;
    }
  }
}

.check-drawer {
  .check-tabs {
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiTab-labelIcon {
      display: flex;
      flex-direction: row-reverse;
      min-height: 48px;

      svg {
        @include default-font();
      }
    }
  }

  .check-card {
    width: 300px;
    border: 1px solid $note-color;
    border-radius: 5px;
    box-shadow: $card-shadow;
    cursor: pointer;

    .check-area {
      display: flex;
      align-items: center;
      padding: 5px;

      &.timer {
        background-color: $disable-color;
        cursor: initial;
        pointer-events: none;
      }

      & > .avatar {
        min-width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
          &:first-child {
            display: flex;
            justify-content: center;
            width: $avatar-size;
            height: $avatar-size;
            margin: 5px 0;
          }

          &:last-child {
            padding: 0;

            & > * {
              padding: 0 0 5px 5px;
            }
          }
        }
        
        img {
          max-width: 100%;
          max-height: 100%;
          font-size: $small-size;
          color: $note-color;
          text-align: center;
          align-self: center;
        }

        .desc, .note {
          display: flex;
          align-items: center;
          font-size: $small-size;
          justify-content: center;

          & > * {
            padding-right: 5px;
          }
        }
      }

      & > .info {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding-right: 5px;

        & > * {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-align: left;
          padding: 0 5px 5px 0;
          
          & > *:not(button) {
            padding: 0 5px;

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }
          }
        }

        .name {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: $bold-weight;
          height: $avatar-size;
          padding-top: 5px;
          margin: 5px 0;

          .check {
            color: $main-color;
          }
        }

        .time {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px dotted $font-color;
          -webkit-border-radius: 5px 20px;
          border-radius: 5px 20px;
          margin: 5px;
            
          .alert {
            color: $alert-color;
          }

          .appeared {
            color: $appeared-color;
          }

          .play button {
            @include icon-button();
            margin: 0 10px;
          }
        }
      }
      
      .timer {
        color: $timer-color;
        font-weight: $bold-weight;
      }

      .desc {
        font-size: $small-size;

        span {
          display: flex;
        }
      }
      
      .note, .location {
        font-size: $small-size;
        color: $note-color;
      }
    }
  }

  .check-message {
    max-width: calc(60% - 48px);
    margin: 0 auto;
  }
}

.timer-container footer {
  min-height: 100px;
  padding-bottom: 40px;

  .copyright {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
  }
}

.swipeable-drawer {
  height: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;

  * {
    pointer-events: initial;
  }

  & > .MuiPaper-root {
    max-height: initial;
    overflow: visible;
  }

  .puller {
    @include dark-style();
    height: 16px;
    text-align: center;
    visibility: visible;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .open-btn {
      @include dark-style();
      width: 140px;
      position: absolute;
      top: -24px;
      left: calc(50% - 70px);
      border-top-left-radius: 70%;
      border-top-right-radius: 70%;
      padding: 5px;
      cursor: pointer;
    }
  }

  .content {
    @include dark-style();
    height: 0;
    display: flex;
    overflow: auto;
    padding: 8px;
    
    .monster-card .info * {
      @include dark-style();
    }
  }

  &.show {
    height: initial;
    
    .content {
      height: initial;
    }
  }
}

.settings-table {
  display: flex;
  flex-direction: column;
  padding: 0 20px 48px 20px;
  
  & > *:not(.upload-manager) {
    @include bottom-divider();
    width: 100%;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & > * {
      padding: 0 0 0 10px;
      
      &:first-child {
        width: 50%;
        min-width: 100px;
        display: block;
        text-align: left;
        padding-left: 0;
        padding-right: 10px;
      }
    }

    .discrete-slider {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;

      & > * {
        margin: 0 10px;
      }

      input {
        width: 42px;
      }
    }

    .native-select {
      width: 50%;

      & > * {
        width: 100%;
      }
    }
  }
  
  .action-area .delete-btn {
    background-color: $secondary-color;
  }
}

.boss-icon {
  display: flex;

  img {
    @include small-icon();
  }
}

@media (max-width: 410px) {
  .copyright * {
    font-size: $mini-size;
  }

  .settings-table {
    max-width: $mini-mobile;
  
    .discrete-slider > *:last-child {
        display: none;
    }
  }
}